@charset "UTF-8";

body{
    padding-top: 30px;
    background: url(../images/background.png) #B0580E repeat-x 0 0;
}

h1{
    font-size: 30px;
}

.regForm{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-control{
   padding: 10px;
    height: auto;
}

#btn-login, #btn-sign{
    width: 100%;
}


