<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple TODO list</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="view/CSS/reg-auth.css" type="text/css">
    
</head>

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <form class="regForm" role="form" action="#" method="post">
                <h1>Log in</h1>
                <div class="form-group">
                    <input type="email" onkeyup="Validation_author();" class="form-control" id="email" name="email" placeholder="Login">
                    <span></span>
                </div>
                <div class="form-group">
                    <input type="password" onkeyup="Validation_author();" class="form-control" id="pwd" name="pwd" placeholder="Password" />
                    <span></span>
                </div>
                <div>
                    <button id="btn-login" type="button" class="btn btn-primary" disabled="disabled">Log in</button>
                </div>
                <div class="reg_link">
                    <a href="registr.php">Sign up</a>
                </div>
            </form>
        </div>
    </div>
</div>   


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="view/js/jquery-1.12.2.min.js"></script>
<script src="view/js/validation.js"></script>

</html>